body.wrapper {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top__headind {
  text-align: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.nav-list li {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 4px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: 800;
}

.wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.5fr 0.5fr;
  margin-top: 1rem;
}

.item__publicat {
  background-color: rgb(204, 202, 202);
  border-radius: 4px;
  font-size: 0.75rem;
  font-style: italic;
  padding: 0.5rem;
}

aside {
  border-left: 1px solid grey;
  padding: 1rem;
}

footer {
  border-top: 1px solid grey;
  text-align: center;
}

.nav__recent {
  margin-bottom: 2.5rem;
  list-style: none;
}
.nav__recent a{
  text-decoration: none;
  color: black;
}

.nav__recent li,
.nav__categories li {
  margin-bottom: 1rem;
  list-style: none;
}

.nav__categories a{
  text-decoration: none;
  color: black;
}